/* Resetiranje osnovnih stilova */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Globalni stilovi */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  line-height: 1.5;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

/* Main */
main {
  text-align: center;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

p {
  margin-bottom: 20px;
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

a {
  display: block;
  background-color: #fff;
  padding: 20px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #e8372d;
  color: #fff;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border-radius: 50%;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #fff;
}

/* Media query za manje ekrane */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 18px;
  }

  a {
    padding: 10px;
  }
}
