body {
  font-family: Helvetica, sans-serif;
  margin: auto;
  padding: 0;
  background-image: url("pics/pozadina.jpg");
  background-repeat: repeat;
  justify-content: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}
p2 {
  color: #fff;
}
.grid-container {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
}

a {
  display: block;
  background-color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
  color: #333;
  text-align: center;
}

a:hover {
  display: block;
  background-color: #333;
  padding: 20px;
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

img {
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: slideLeft 1s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 18px;
  }

  a {
    padding: 10px;
  }
}
